header{
    background-color: #F8F0E5 ;
    float: inline-start;
    height: 150px;
    width: 100%;
    text-align: center;
   
}
aside{
    background-color:#D988B9;
    float: left;
    height: 500px;
    width: 25%;
    text-align: center;

}
section{
    background-color: #FACBEA ;
    float: left;
    height: 500px;
    width: 50%;
    text-align: center;
}
article{
    background-color: #B0578D ;
    float: left;
    height: 500px;
    width: 25%;
    text-align: center;
}
footer{
    background-color: #DAC0A3 ;
    height: 150px;
    width: 100%;
    clear: both;
    text-align: center;
}
